.vs/
.idea/
openjdk/**/*.class
/classpath/**/*.class
bin/
openjdk/*.dll
packages/
bin/
obj/
/CommonAssemblyInfo.cs
/awt/AssemblyInfo.cs
/openjdk/*.jar
*.user
/tools/*.exe
/jvm/jvm_h.il
/openjdk/AssemblyInfo.java
*.gen.txt
/openjdk/tools.gen.rsp
/openjdk/vfs.zip
/openjdk/allsources.gen.lst
/openjdk/java/lang/PropertyConstants.java
/runtime/AssemblyInfo.cs
/runtime/JniAssemblyInfo.cs
/openjdk/resources.zip
/runtime/IKVM.Runtime.dll
/runtime/IKVM.OpenJDK.Core.dll
/lib/ikvm-api.jar
/tools/pubkey.txt
/bin-x86/JVM.DLL
/bin-x64/JVM.DLL
/runtime/IKVM.Runtime.JNI.dll
